/*  __  ___      _          _____ __        __
   /  |/  /___ _(_)___     / ___// /___  __/ /__
  / /|_/ / __ `/ / __ \    \__ \/ __/ / / / / _ \
 / /  / / /_/ / / / / /   ___/ / /_/ /_/ / /  __/
/_/  /_/\__,_/_/_/ /_/   /____/\__/\__, /_/\___/
                              /____/          */

.game-board {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
