.game-board {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 65vh; }

.no-more-sets {
  font-size: 50px; }

svg {
  width: 62px;
  height: 93px;
  margin-left: -2px;
  margin-right: -2px; }

.card {
  padding: 20px;
  border-radius: 10px;
  margin: 8px;
  width: 240px;
  height: 135px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  background-color: white;
  transition: all 0.5s ease;
  box-shadow: 10px 10px 10px #989898; }

.card:hover {
  box-shadow: 14px 14px 10px #989898;
  margin: 0 14px 14px 1px; }
