.game-board {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #d3bfff; }

header {
  text-align: center;
  margin: 0 0 10px 0;
  box-shadow: 10px 10px 10px #989898; }

.start-game {
  position: absolute;
  text-align: center;
  z-index: 5000; }

.start-body, .players, form {
  height: 300px;
  background-color: #ffd195; }

footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  background-color: #e36c99;
  width: 100%;
  height: 5%; }

.set {
  font-size: 20px;
  height: 40px;
  width: 80px;
  margin: 5px; }

h4 {
  margin: 1%; }

/* ______               __   _____ __        __
  / ____/___ __________/ /  / ___// /___  __/ /__
 / /   / __ `/ ___/ __  /   \__ \/ __/ / / / / _ / /___/ /_/ / /  / /_/ /   ___/ / /_/ /_/ / /  __/
\____/\__,_/_/   \__,_/   /____/\__/\__, /_/\___/
                                   /____/         */
.hatch {
  display: none; }

.line .hatch {
  display: block; }

.green path {
  stroke: green;
  fill: green; }

.red path {
  stroke: red;
  fill: red; }

.purple path {
  stroke: purple;
  fill: purple; }

.line path {
  fill: none; }

.empty path {
  fill: none; }

.symbol {
  stroke-width: 5px; }

.selected {
  box-shadow: inset 0 0 20px #5d8ac6; }

.start-body {
  font-size: 60px;
  margin: 5px;
  text-align: center;
  box-shadow: 10px 10px 10px #989898; }

.screen {
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw; }
