.game-board {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100vh; }

header {
  text-align: center;
  margin: 0 0 10px 0;
  box-shadow: 10px 10px 10px #989898; }

.set {
  font-size: 20px;
  height: 40px;
  width: 80px;
  margin: 5px; }

.no-more-sets {
  font-size: 50px; }

/* ______               __   _____ __        __
  / ____/___ __________/ /  / ___// /___  __/ /__
 / /   / __ `/ ___/ __  /   \__ \/ __/ / / / / _ / /___/ /_/ / /  / /_/ /   ___/ / /_/ /_/ / /  __/
\____/\__,_/_/   \__,_/   /____/\__/\__, /_/\___/
                                   /____/         */
.hatch {
  display: none; }

.line .hatch {
  display: block; }

.green path {
  stroke: green;
  fill: green; }

.red path {
  stroke: red;
  fill: red; }

.purple path {
  stroke: purple;
  fill: purple; }

.line path {
  fill: none; }

.empty path {
  fill: none; }

svg {
  width: 100px;
  height: 150px;
  margin-left: -2px;
  margin-right: -2px; }

.card {
  padding: 40px;
  border-radius: 20px;
  margin: 15px;
  width: 100px;
  min-width: 280px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  box-shadow: 10px 10px 10px #989898; }

.symbol {
  stroke-width: 5px; }

.selected {
  box-shadow: inset 0 0 20px #5d8ac6; }

.start-body {
  font-size: 60px;
  margin: 5px;
  text-align: center;
  box-shadow: 10px 10px 10px #989898; }
