
header {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 40px;
  box-shadow: 10px 10px 10px rgb(152, 152, 152);
}

footer {
  height: 40px;
  width: 100%;
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: space-around;
  background-color: rgb(231, 231, 231);
}

.main-menu {
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  ul {
    padding: 2px 0 0 0;
    margin: 0;
    li {
      list-style: none;
      width: 30px;
      height: 5px;
      border-radius: 3px;
      margin: 0 0 3px 4px;
      background-color: purple;
    }
  }
}

.game-board {
  margin: 10px 0 0 0;
}

.set {
  padding: 3.5px 0;
  border-radius: 0 0 5px 5px;
  margin: 0;
  font-size: 30px;
  width: 100px;
  background-color: purple;
}

a {
  color: white;
}

a:hover {
  color: white;
}
.not-flash, .flash {
  text-align: center;
  position: absolute;
  width: 40%;
  margin: 20% 30%;
  font-size: 500%;
  z-index: 9999;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255)
}

.s {
  color: red;
}

.e {
  color: purple;
}

.t {
  color: green;
}
