.hatch {
  display: none;
}
.line .hatch {
  display: block;
}
.green {
  path {
    stroke: green;
    fill: green;
  }
}
.red {
  path {
    stroke: red;
    fill: red;
  }
}
.purple {
  path {
    stroke: purple;
    fill: purple;
  }
}
.line path {
  fill: none;
}
.empty path {
  fill: none;
}
.symbol {
  stroke-width: 5px;
}
.selected {
  box-shadow: inset 0 0 20px rgb(93, 138, 198), 10px 10px 10px rgb(152, 152, 152);
}
.selected:hover {
  box-shadow: inset 0 0 20px rgb(93, 138, 198), 14px 14px 10px rgb(152, 152, 152);
}
