.start-body {
  position: fixed;
  z-index: 9000;
  font-size: 50px;
  width: 40%;
  margin: 10px 30%;
  padding: 60px;
  text-align: center;
  background: rgba(255,66,75,1);
  background: -moz-linear-gradient(-45deg, rgba(255,66,75,1) 0%, rgba(255,66,75,1) 27%, rgba(0,0,0,1) 27%, rgba(28,28,28,1) 61%, rgba(30,163,3,1) 61%, rgba(30,163,3,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,66,75,1)), color-stop(27%, rgba(255,66,75,1)), color-stop(27%, rgba(0,0,0,1)), color-stop(61%, rgba(28,28,28,1)), color-stop(61%, rgba(30,163,3,1)), color-stop(100%, rgba(30,163,3,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,66,75,1) 0%, rgba(255,66,75,1) 27%, rgba(0,0,0,1) 27%, rgba(28,28,28,1) 61%, rgba(30,163,3,1) 61%, rgba(30,163,3,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,66,75,1) 0%, rgba(255,66,75,1) 27%, rgba(0,0,0,1) 27%, rgba(28,28,28,1) 61%, rgba(30,163,3,1) 61%, rgba(30,163,3,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,66,75,1) 0%, rgba(255,66,75,1) 27%, rgba(0,0,0,1) 27%, rgba(28,28,28,1) 61%, rgba(30,163,3,1) 61%, rgba(30,163,3,1) 100%);
  background: linear-gradient(135deg, rgba(255,66,75,1) 0%, rgba(255,66,75,1) 27%, rgba(0,0,0,1) 27%, rgba(28,28,28,1) 61%, rgba(30,163,3,1) 61%, rgba(30,163,3,1) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff424b', endColorstr='#1ea303', GradientType=1 );
  box-shadow: 10px 10px 10px rgb(152, 152, 152);
}
.players,
form,
.whosaw,
.hscore-container,
.end-container {
  margin: 10px 30% 0;
  padding: 30px 0 0;
  position: fixed;
  z-index: 9000;
  font-size: 30px;
  width: 40%;
  height: 65%;
  text-align: center;
  box-shadow: 10px 10px 10px rgb(152, 152, 152);
  background: rgba(255,66,75,1);
  background: -moz-linear-gradient(-45deg, rgba(255,66,75,1) 0%, rgba(255,66,75,1) 27%, rgba(0,0,0,1) 27%, rgba(28,28,28,1) 61%, rgba(30,163,3,1) 61%, rgba(30,163,3,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,66,75,1)), color-stop(27%, rgba(255,66,75,1)), color-stop(27%, rgba(0,0,0,1)), color-stop(61%, rgba(28,28,28,1)), color-stop(61%, rgba(30,163,3,1)), color-stop(100%, rgba(30,163,3,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,66,75,1) 0%, rgba(255,66,75,1) 27%, rgba(0,0,0,1) 27%, rgba(28,28,28,1) 61%, rgba(30,163,3,1) 61%, rgba(30,163,3,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,66,75,1) 0%, rgba(255,66,75,1) 27%, rgba(0,0,0,1) 27%, rgba(28,28,28,1) 61%, rgba(30,163,3,1) 61%, rgba(30,163,3,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,66,75,1) 0%, rgba(255,66,75,1) 27%, rgba(0,0,0,1) 27%, rgba(28,28,28,1) 61%, rgba(30,163,3,1) 61%, rgba(30,163,3,1) 100%);
  background: linear-gradient(135deg, rgba(255,66,75,1) 0%, rgba(255,66,75,1) 27%, rgba(0,0,0,1) 27%, rgba(28,28,28,1) 61%, rgba(30,163,3,1) 61%, rgba(30,163,3,1) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff424b', endColorstr='#1ea303', GradientType=1 );
}
.players {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 70px;
  font-size: 50px;
}
legend {
  height: 75px;
  h3 {
    color: white;
    background-color: purple;
    height: 100%;
    margin: 0;
    padding: 10px;
    font-size: 50px;
  }
}

form {
  padding-top: 0;
}
.whosaw,
.hscore-container,
.end-container {
  color: white;
}
.end-container {
  button {
    padding: 0 40px;
    margin: 30px;
    background-color: rgb(59, 89, 152);
    border-radius: 5px;
  }
}
input {
  margin: 10px;
}
.ip1,
.ip2,
.ip3,
.ip4 {
  margin: 20px 100px;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: black;
}
.screen {
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw;
}
.p-padding {
  padding: 10px;
  background-color: purple;
  border-radius: 10px;
}
body {
  height: 100vh;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(250,220,250,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(11%, rgba(255,255,255,1)), color-stop(100%, rgba(250,220,250,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(250,220,250,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(250,220,250,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(250,220,250,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(250,220,250,1) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fadcfa', GradientType=0 );
}
